.event-info-component .info-field-wrapper {
  margin-bottom: 24px;
}

.event-info-component .attr-text {
  font-size: var(--type-body-xs-size);
  text-align: right;
}

.event-info-component sp-textfield {
  width: 100%;
}

.event-info-component sp-textfield.textarea-input {
  font-size: var(--type-body-m-size);;
  width: 100%;
  outline: none;
  resize: vertical;
  min-height: 40px;
}

.event-info-component label {
  font-weight: 700;
}

.event-info-component .date-time-row {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-bottom: 24px;
}

.event-info-component .date-time-row > .date-picker {
  position: relative;
  border-bottom: 1px solid var(--color-black);
  min-width: 400px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.event-info-component .date-time-row > .date-picker label {
  font-size: var(--type-heading-m-size);
}

.event-info-component .date-time-row > div:last-of-type {
  flex-grow: 1;
}

.event-info-component .date-time-row input {
  border: none;
  width: 100%;
  max-width: 360px;
  pointer-events: none;
}

.event-info-component .date-time-row .icon {
  display: block;
  cursor: pointer;
}

.event-info-component .time-pickers {
  display: flex;
  gap: 16px;
}

.event-info-component .time-pickers > p {
  font-size: var(--type-heading-m-size);
  font-weight: 700;
}

.event-info-component .time-pickers .time-picker-wrapper {
  flex: 1 1 0;
}

.event-info-component .time-pickers .time-picker-wrapper label {
  display: block;
  font-size: var(--type-body-xs-size);
}

.event-info-component .time-pickers .time-picker-wrapper select {
  flex-grow: 1;
  border-radius: 4px;
  padding: 4px 8px;
  height: 32px;
  width: 100%;
  border: 1px solid var(--color-gray-500);
}

.event-info-component .date-input {
  height: 40px;
}

/* Calendar container styling */
.event-info-component .calendar-container {
  top: 100%;
  right: calc(-50% + 40px);
  padding: 16px;
  width: 317px;
  height: 286px;
  position: absolute;
  margin: auto;
  background: white;
  box-shadow: 0 4px 8px rgb(0 0 0 / 10%);
  border-radius: 8px;
  overflow: hidden;
  font-size: var(--type-body-xs-size);
  z-index: 2;
}

/* Calendar header */
.event-info-component .calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-weight: 700;
  font-size: var(--type-body-s-size);
}

.event-info-component .calendar-header a.next-button,
.event-info-component .calendar-header a.prev-button {
  color: var(--color-black);
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.event-info-component .calendar-header a.next-button:hover,
.event-info-component .calendar-header a.prev-button:hover,
.event-info-component .calendar-header a.next-button:focus,
.event-info-component .calendar-header a.prev-button:focus {
  text-decoration: none;
}

.event-info-component .calendar-header .header-title {
  cursor: pointer;
}

/* Calendar grid */
.event-info-component .calendar-grid,
.event-info-component .weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 8px;
  text-align: center;
  justify-items: center;
}

.event-info-component .calendar-grid.month-view,
.event-info-component .calendar-grid.year-view {
  grid-template-columns: repeat(4, 1fr);
  height: calc(100% - 64px);
}

.event-info-component .calendar-grid .calendar-month,
.event-info-component .calendar-grid .calendar-year {
  align-content: center;
  cursor: pointer;
}

.event-info-component .weekdays .weekday {
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-info-component .calendar-day {
  height: 32px;
  width: 32px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}

.event-info-component .calendar-day:last-child {
  border-right: none;
}

.event-info-component .calendar-day.empty {
  cursor: default;
}

.event-info-component .calendar-day.disabled,
.event-info-component .calendar-month.disabled,
.event-info-component .calendar-year.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Accessibility focus */
.event-info-component .calendar-day:focus {
  box-shadow: 0 0 0 2px rgb(0 123 255 / 50%);
  outline: none;
}

.event-info-component .calendar-day:hover:not(.empty),
.event-info-component .calendar-day:focus:not(.empty) {
  outline: none;
}

.event-info-component .calendar-day.selected {
  background-color: var(--link-color-dark);
  color: white;
}

.event-info-component .calendar-day.range {
  background-color: var(--color-info-accent-light);
  overflow: visible;
  color: var(--color-black);
}

.event-info-component .calendar-day.range::before {
  content: '';
  position: absolute;
  width: calc(100% + 16px);
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--color-info-accent-light);
  z-index: -1;
}

.event-info-component .calendar-container.range-selected .calendar-day.start-date:not(.end-date)::before {
  content: '';
  position: absolute;
  width: calc(100% + 16px);
  border-radius: 24px 0 0 24px;
  height: 100%;
  top: 0;
  left: 0 ;
  background-color: var(--color-info-accent-light);
  z-index: -1;
}

.event-info-component .calendar-container.range-selected .calendar-day.end-date:not(.start-date)::before {
  content: '';
  position: absolute;
  width: calc(100% + 16px);
  border-radius: 0 24px 24px 0;
  height: 100%;
  top: 0;
  right: 0 ;
  background-color: var(--color-info-accent-light);
  z-index: -1;
}

.hidden {
  display: none;
}

.repeater-element {
  max-width: 100%;
  height: var(--spectrum-spacing-700, 48px);
  flex-shrink: 0;
  border-radius: 10px;
  border: 1px dashed var(--Divider, #6E6E6E);
  display: flex;
  align-items: center;
  padding: 0px 32px;
  margin-bottom: 24px;
}

.icon-add-circle {
  height: 24px;
  width: 24px;
}

.repeater-element-title {
  width: 100%;
  color: var(--web-gray-scale-color-gray-500909090, var(--web-grey-scale-color-gray-500909090, #909090));
  /* Heading/Heading S */
  font-family: "Adobe Clean";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px; /* 125% */
  margin: 0px;
}