.registration-details-component .attendee-fields-wrapper {
  display: flex;
  align-items: end;
  justify-content: space-between;
  padding-bottom: 24px;
  margin-bottom: 40px;
  border-bottom: 3px solid var(--stroke-color-divider);
}

.registration-details-component .attendee-count-wrapper {
  display: flex;
  gap: 16px;
}

.registration-details-component .attendee-count-wrapper input {
  max-width: 64px;
}

.registration-details-component .rsvp-field-wrapper sp-textfield {
  width: 100%;
}

.registration-details-component .rsvp-field-wrapper .attr-text {
  text-align: right;
}

.registration-details-component fieldset.checkboxes-wrapper {
  display: flex;
  gap: 32px;
}

.registration-details-component .attendee-fields-wrapper fieldset.checkboxes-wrapper {
  flex-direction: column;
  gap: 0; 
}

.registration-details-component .rsvp-checkboxes {
  margin-top: 40px;
  border-top: 3px solid var(--stroke-color-divider);
}
