.event-map {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
}

.event-map > div:first-of-type {
  width: var(--grid-container-width);
  margin: 0 auto;
}

.event-map .mapbox-container {
  height: 300px;
  min-width: calc(100vw - 20px);
}

@media (min-width: 900px) {
  .event-map {
    flex: 1 1 0;
    flex-direction: row;
    max-width: var(--grid-container-width);
    justify-content: center;
    align-items: center;
  }

  .event-map .mapbox-container {
    min-width: 50%;
  }
}
