.event-agenda-component {
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.event-agenda-component .time-clamp-options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-agenda-component .time-clamp-input-wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.event-agenda-component .agenda-group-container {
  display: flex;
  flex-direction: column;
  gap: 42px;
}

.event-agenda-component .checkbox-wrapper {
  display: flex;
  justify-content: flex-end;
}
 
.event-agenda-component .checkbox-input {
  margin-right: 8px;
}
 
.event-agenda-component .checkbox-label {
  font-size: var(--type-body-xs-size);
  font-weight: normal;
}
 