/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.preserve-format {
  white-space: pre-wrap;
}

fieldset {
  border: none;
  padding: 0;
}

.section > div.no-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-100);
  max-width: none;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.section > div.no-access .no-access-area {
  margin: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section > div.no-access .no-access-area .icon.icon-browser-access-forbidden-lg {
  margin: 40px;
}

img.ecc-icon {
  vertical-align: middle;
}
