/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

 :root {
  --spectrum-color-gray-100: #E8E8E8;
  --spectrum-color-gray-200: #D4D4D4;
  --spectrum-color-gray-300: #B6B6B6;
  --spectrum-color-gray-400: #A1A1A1;
  --spectrum-color-gray-500: #909090;
  --spectrum-color-gray-600: #686868;
  --spectrum-color-gray-700: #444444;
  --spectrum-color-gray-800: #242424;
  --spectrum-color-text: #2C2C2C;
 }

main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.preserve-format {
  white-space: pre-wrap;
}

fieldset {
  border: none;
  padding: 0;
}

.section > div.no-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-100);
  max-width: none;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.section > div.no-access .no-access-area {
  margin: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section > div.no-access .no-access-area .icon.icon-browser-access-forbidden-lg {
  margin: 40px;
}

svg.ecc-icon {
  vertical-align: middle;
}
