.event-format-component.form-component div:first-of-type > div > h2 {
  margin-bottom: 0;
}

.event-format-component .series-fields-wrapper {
  display: flex;
  gap: 32px;
  align-items: flex-end;
}

.event-format-component select,
.event-format-component input.text-input {
  border-radius: 4px;
  padding: 4px;
  height: 32px;
  border: 1px solid var(--color-gray-500);
  font-size: var(--type-body-xs-size);
}

.event-format-component input.text-input {
  width: 100%;
}

.event-format-component .format-picker-wrapper {
  display: flex;
  flex-direction: column;
}

.event-format-component .format-picker-wrapper.hidden {
  display: none;
}
