.event-format-component .series-fields-wrapper {
  display: flex;
  gap: 32px;
  align-items: flex-end;
  flex-wrap: wrap;
}

.event-format-component select,
.event-format-component input.text-input {
  border-radius: 4px;
  padding: 4px;
  height: 32px;
  border: 1px solid var(--color-gray-500);
  font-size: var(--type-body-xs-size);
}

.event-format-component input.text-input {
  width: 100%;
}

.event-format-component .format-picker-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}

.event-format-component .format-picker-wrapper sp-label {
  top: -100%;
  position: absolute;
}

.event-format-component .format-picker-wrapper.hidden {
  display: none;
}
