.registration-details-component {
  padding-bottom: 40px;
}

.registration-details-component .text-field-row {
  margin-bottom: 36px;
}

.registration-details-component .registration-configs-wrapper {
  display: grid;
  margin-bottom: 24px;
}

.registration-details-component .registration-configs-wrapper > div {
  margin-bottom: 16px;
  display: flex;
  padding: 0 16px;
  gap: 2rem;
}

.registration-details-component .registration-configs-wrapper .left-col {
  width: 128px;
}

.registration-details-component .registration-configs-wrapper .right-col {
  display: flex;
  gap: 2rem;
}

.registration-details-component .attendee-configs-wrapper {
  align-items: flex-end;
}

.registration-details-component .attendee-count-input-wrapper {
  display: flex;
  flex-direction: column;
}

.registration-details-component .attendee-count {
  display: flex;
  position: relative;
  align-items: flex-end;
  gap: 8px;

}

.registration-details-component .attendee-count input {
  max-width: 64px;
  height: 24px;
}

.registration-details-component .attendee-count label {
  font-size: var(--type-body-xxs-size);
  line-height: var(--type-body-xxs-lh);
  bottom: 100%;
}

.registration-details-component .rsvp-field-wrapper sp-textfield {
  width: 100%;
}

.registration-details-component .rsvp-field-wrapper .attr-text {
  text-align: right;
}

.registration-details-component fieldset.checkboxes-wrapper,
.registration-details-component .host-contact-wrapper {
  display: flex;
}

.registration-details-component .host-contact-wrapper sp-help-text {
  position: absolute;
}

.registration-details-component .attendee-fields-wrapper fieldset.checkboxes-wrapper {
  justify-content: space-between;
}

.registration-details-component .rsvp-checkboxes {
  margin-top: 40px;
  border-top: 3px solid var(--stroke-color-divider);
}
