.form-handler .form-component.registration-details-component {
  padding: 32px 0;
}

.form-handler .form-component.registration-details-component > div {
  padding: 0 12px;
}

.form-handler .form-component.registration-details-component .attendee-fields-wrapper {
  margin-bottom: 32px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: 24px;
  padding-bottom: 24px;
  border-bottom: 3px solid var(--stroke-color-divider);
}

.registration-details-component .attendee-count-wrapper input {
  max-width: 64px;
  height: 24px;
  margin-right: 16px;
}

.registration-details-component .attendee-count-wrapper label {
  font-size: var(--type-body-xxs-size);
  display: block;
}

.registration-details-component .registration-config-wrapper {
  display: flex;
  align-items: center;
  height: 32px;
}

.registration-details-component .registration-config-wrapper p:first-child {
  margin: 0 8px 0 0;
}

.registration-details-component .registration-config-wrapper .radios-wrapper {
  display: flex;
  gap: 16px;
}

.registration-details-component .registration-config-wrapper .radio-wrapper {
  position: relative;
  max-width: max-content;
  display: flex;
  align-items: center;
  gap: 8px;
}

.registration-details-component .registration-config-wrapper input[type="radio"] {
  opacity: 0;
  position: absolute;
  inset: 0;
  cursor: pointer;
  z-index: 1;
}

.registration-details-component .registration-config-wrapper span.radio-span::before {
  content: '';
  display: block;
  background-color: var(--color-white);
  box-sizing: border-box;
  border-style: solid;
  border-width: 2px;
  border-color: var(--color-font-grey);
  block-size: 14px;
  border-radius: 50%;
  inline-size: 14px;
  position: absolute;
  transition: border 0.13s ease-in-out, box-shadow 0.13s ease-in-out;
}

.registration-details-component .registration-config-wrapper span.radio-span {
  position: relative;
  inline-size: 14px;
  block-size: 14px;
}

.registration-details-component .registration-config-wrapper input[type="radio"]:checked + span.radio-span::before {
  border-width: 5px;
  border-color: var(--color-gray-700);
}

.registration-details-component .rsvp-field-wrapper sp-textfield {
  width: 100%;
}

.registration-details-component .rsvp-field-wrapper .attr-text {
  text-align: right;
}

.registration-details-component fieldset.checkboxes-wrapper,
.host-contact-wrapper {
  display: flex;
  align-items: center;
  gap: 32px;
}

.registration-details-component .attendee-fields-wrapper fieldset.checkboxes-wrapper {
  justify-content: space-between;
}

.registration-details-component .rsvp-checkboxes {
  margin-top: 40px;
  border-top: 3px solid var(--stroke-color-divider);
}
