.ecc-dashboard {
  font-family: var(--body-font-family);
  padding: 40px;
  width: var(--grid-container-width);
  margin: auto;
}

.ecc-dashboard .dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ecc-dashboard .dashboard-header-text {
  display: flex;
  align-items: flex-end;
  gap: 16px;
}

.ecc-dashboard .dashboard-header-text h1 {
  margin: 0;
}

.ecc-dashboard .dashboard-header-text p {
  margin: 6px 0;
}

.ecc-dashboard .dashboard-actions-container {
  display: flex;
  align-items: center;
  gap: 16px;
}

.ecc-dashboard .dashboard-actions-container input {
  border-radius: 4px;
  border: 1px solid var(--color-gray-500);
  height: 24px;
  padding: 0 16px;
}

.ecc-dashboard .dashboard-table-container {
  max-width: 100%;
  overflow: auto;
}

.ecc-dashboard table {
  margin: auto;
  border-collapse: collapse; 
}

.ecc-dashboard table .table-header-row {
  height: 80px;
  border-bottom: 2px solid var(--color-gray-600);
}

.ecc-dashboard table .table-header-row th {
  padding: 0 16px;
  font-weight: 700;
  text-align: left;
  font-size: var(--type-body-xxs-size);
  color: var(--color-gray-500);
  user-select: none;
  width: 100px;
  white-space: nowrap;
}

.ecc-dashboard table .table-header-row th span {
  white-space: nowrap;
  width: 60px;
}

.ecc-dashboard table .table-header-row th.sortable {
  cursor: pointer;
}

.ecc-dashboard table .table-header-row th.active {
  color: var(--color-black);
}

.ecc-dashboard table .table-header-row th .icon {
  transform: translateY(4px);
}

.ecc-dashboard table .table-header-row th:not(.active) .icon,
.ecc-dashboard table .table-header-row th .icon-chev-down,
.ecc-dashboard table .table-header-row th.desc-sort .icon-chev-up {
  display: none;
}

.ecc-dashboard table .table-header-row th.active.desc-sort .icon-chev-down {
  display: inline-block;

}

.ecc-dashboard table .event-row {
  height: 140px;
  border-bottom: 2px solid var(--color-gray-300);
}

.ecc-dashboard table .event-row .event-status img.icon {
  margin-right: 8px;
}

.ecc-dashboard table .event-row .thumbnail-container img {
  display: block;
  height: 90px;
  width: 90px;
  min-width: 90px;
  object-fit: cover;
  border-radius: 4px;
}

.ecc-dashboard table .event-row td {
  padding: 0 16px;
  position: relative;
  font-size: var(--type-body-s-size);
}

.ecc-dashboard table .event-row .icon-more-small-list {
  cursor: pointer;
  height: 24px;
  width: 24px;
}

.ecc-dashboard .event-row .dashboard-event-tool-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  background-color: var(--color-white);
  border-radius: 4px;
  padding: 16px;
  right: 100%;
  z-index: 1;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  width: 182px;
}

.ecc-dashboard .event-row .dashboard-event-tool-box a.dash-event-tool {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: var(--color-black);
  font-size: var(--type-body-xxs-size);
}

.ecc-dashboard .event-row .dashboard-event-tool-box a.dash-event-tool:hover {
  text-decoration: underline;
}

.ecc-dashboard .pagination-container {
  margin: 40px auto 0;
  display: flex;
  width: max-content;
  font-size: var(--type-body-xs-size);
}

.ecc-dashboard .pagination-container input {
  padding: 4px 12px;
  width: 16px;
  margin-right: 4px;
}

.ecc-dashboard .pagination-container img.icon {
  cursor: pointer;
  width: 24px;
  padding: 0 16px;
}

.ecc-dashboard .event-row .dashboard-event-tool-box a.dash-event-tool img.icon {
  width: 16px;
}
