/* write any CSS you need for your component here */
.event-data-migrator .loading-screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background: var(--color-white);
}

.event-data-migrator .loading-screen sp-field-label {
  font-size: var(--type-body-s-size);
}
