.event-editor {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--spacing-s);
  padding: var(--spacing-m);
}

.event-editor form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-m);
  background-color: var(--background-color);
  border: 1px solid var(--color-gray-300);
  box-shadow: 0 2px 4px var(--color-gray-100);
  border-radius: 4px;
  padding: var(--spacing-m);
}

.event-editor form > div.sub-grid {
  grid-column: 1 / -1;
  display: grid;
}

.event-editor fieldset {
  grid-column: 1 / -1; /* Make fieldsets span all columns */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--spacing-s);
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  padding: var(--spacing-m);
}

.event-editor legend {
  grid-column: 1 / -1;
  font-weight: bold;
  color: var(--link-color);
}

.event-editor label {
  display: block;
  margin-bottom: var(--spacing-xs);
  color: var(--color-gray-600);
}

.event-editor input[type="text"][name="url"] {
  grid-column: 1 / 3;
}

.event-editor input[type="text"],
.event-editor input[type="file"],
.event-editor textarea,
.event-editor button {
  width: 100%;
  padding: var(--spacing-xs);
  border: 1px solid var(--color-gray-300);
  border-radius: 4px;
  box-sizing: border-box;
}

.event-editor button,
.event-editor.add-participant-btn,
.event-editor .remove-participant-btn {
  width: max-content;
  box-sizing: border-box;
  margin: 8px;
  height: max-content;
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  padding: var(--spacing-xs);
  cursor: pointer;
  align-self: end;
}

.event-editor .button[type="submit"] {
  align-self: end;
}

.event-editor button:hover {
  opacity: 0.8;
}

@media (min-width: 900px) {
  .event-editor form {
    grid-template-columns: repeat(2, 1fr); /* Two columns for larger screens */
  }
}
