.form-handler {
  display: block;
  padding: 0 40px;

  --mod-textfield-icon-size-invalid: 0;
  --stroke-color-divider: #6E6E6E;
  --color-red: #EB1000;
  --mod-textfield-focus-indicator-width: 0;
  --mod-textfield-text-color-disabled: #000;
  --mod-textfield-border-color-invalid-default: #000;
  --mod-textfield-border-color-invalid-focus: #000;
  --mod-textfield-border-color-invalid-focus-hover: #000;
  --mod-textfield-border-color-invalid-hover: #000;
  --mod-textfield-border-color-invalid-keyboard-focus: #000;
  --mod-textfield-font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  --mod-textfield-font-weight: 700;
  --mod-textfield-spacing-block-start: 8px;
}

.form-handler .loading-screen {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 20;
  background-color: var(--color-white);
  opacity: 1;
}

.form-handler .loading-screen sp-field-label {
  font-size: var(--type-body-s-size);
}

.form-handler .img-upload-text p {
  margin: 0;
  font-size: var(--type-body-xs-size);
  line-height: normal;
}

.form-handler .main-frame sp-theme sp-underlay {
  z-index: 2;
}

.form-handler .main-frame sp-theme sp-underlay + sp-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  background: var(--spectrum-gray-100);
  min-width: 480px;
}

.form-handler .main-frame sp-theme sp-underlay + sp-dialog h1 {
  font-size: var(--type-heading-s-size);
}

.form-handler .main-frame sp-theme sp-underlay + sp-dialog p {
  font-size: var(--type-body-s-size);
}

.form-handler .main-frame sp-theme sp-underlay + sp-dialog .button-container {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
}

.form-handler .main-frame sp-theme sp-underlay:not([open]) + sp-dialog {
  display: none;
}

.form-handler.show-error {
  --mod-textfield-icon-size-invalid: 16px;
}

.form-handler .main-frame {
  flex-grow: 1;
  min-height: 100%;
}

.form-handler .form-handler-ctas-panel {
  position: sticky;
  transform: translateX(-40px);
  box-sizing: border-box;
  bottom: 0;
  padding: 16px 60px;
  background-color: var(--color-red);
  width: calc(100% + 80px);
  z-index: 1;
  display: flex;
  justify-content: center;
}


.form-handler .side-menu,
.form-handler .main-frame,
.form-handler .form-handler-ctas-panel,
.form-handler .loading-screen {
  transition: opacity 0.5s;
}

.form-handler.disabled .main-frame,
.form-handler.disabled .form-handler-ctas-panel {
  pointer-events: none;
}

.form-handler .side-menu {
  transition: opacity 0.2s;
}

.form-handler.loading div:first-of-type,
.form-handler.loading .side-menu,
.form-handler.loading .main-frame,
.form-handler.loading .form-handler-ctas-panel {
  opacity: 0;
}

.form-handler .side-menu button {
  font-family: var(--body-font-family);
}

.form-handler sp-textfield {
  outline: none;
}

.form-handler sp-textfield[quiet]:not(:read-only):focus {
  outline: 1px var(--color-gray-500) solid;
  border-radius: 4px;
}

.form-handler > div.form-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 203px);
}

.form-handler .side-menu.disabled {
  opacity: 0.5;
  pointer-events: none;
}

.form-handler .side-menu h3 {
  font-size: var(--type-body-xs-size);
  color: var(--color-gray-400);
  margin-bottom: 0;
  margin-top: 24px;
  padding: 0 24px;
}

.form-handler .side-menu ul {
  margin-top: 0;
  padding: 0;
}

.form-handler .side-menu ul li {
  list-style: none;
  font-size: var(--type-body-xs-size);
  line-height: normal;
  border-radius: 8px;
  padding-left: 24px;
  padding-right: 24px;
}

.form-handler .form-handler-ctas-panel a {
  font-size: var(--type-body-s-size);
  display: inline-flex;
  align-items: center;
  gap: 4px;
  transition: background-color 0.2s, filter 0.2s;
}

.form-handler .side-menu ul li a {
  color: var(--color-black);
}

.form-handler .side-menu ul li a,
.form-handler .side-menu ul li button {
  text-align: left;
  border: none;
  background-color: transparent;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}

.form-handler .side-menu ul li:not(:has(ul)) {
  padding-left: 0;
  padding-right: 0;
  margin: 12px 0;
  display: flex;
}

.form-handler .side-menu ul li ul {
  margin-top: 12px;
}

.form-handler .side-menu ul li ul li:not(:has(ul)) {
  margin: 4px 0;
}

.form-handler .side-menu ul li:not(:has(ul)) a,
.form-handler .side-menu ul li:not(:has(ul)) button {
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
}

.form-handler .side-menu ul li:not(:has(ul)):has(a):hover,
.form-handler .side-menu ul li:not(:has(ul)):has(a).active,
.form-handler .side-menu ul li:not(:has(ul)):has(button:not(:disabled)):hover,
.form-handler .side-menu ul li:not(:has(ul)):has(button:not(:disabled)).active {
  background-color: var(--color-red);
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: -0.02em
}

.form-handler .side-menu ul li:not(:has(ul)):has(a):hover a,
.form-handler .side-menu ul li:not(:has(ul)):has(a).active a,
.form-handler .side-menu ul li:not(:has(ul)):has(button:not(:disabled)).active button,
.form-handler .side-menu ul li:not(:has(ul)):has(button:not(:disabled)):hover button {
  color: var(--color-white);
  font-weight: 700;
  letter-spacing: -0.02em
}

.form-handler .side-menu .nav-item {
  cursor: pointer;
}

.form-handler .side-menu .nav-item:disabled {
  pointer-events: none;
  cursor: unset;
}

.form-handler .side-menu .nav-item.disabled {
  pointer-events: none;
  cursor: unset;
  opacity: 0.5;
}

.form-handler .main-frame sp-theme {
  min-height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-handler .main-frame .section .content {
  max-width: none;
}

.form-handler .main-frame .section:first-of-type .content {
  margin: 16px 24px;
  max-width: none;
  display: grid;
  align-items: center;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr;
}

.form-handler .main-frame .section:first-of-type .content p {
  font-size: var(--type-body-xs-size);
}

.form-handler .main-frame .section:first-of-type .content p:first-of-type {
  display: flex;
  flex-direction: row-reverse;
}

.form-handler .form-component > div:first-of-type > div > h2 {
  font-size: var(--type-heading-xl-size);
  line-height: var(--type-heading-xl-lh);
}

.form-handler .form-component > div:first-of-type > div > h2,
.form-handler .form-component > div:first-of-type > div > h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0;
  margin-bottom: 32px;
}

.form-handler .main-frame .section:first-of-type h2 {
  margin: 0;
  font-weight: 900;
  color: var(--color-red);
}

.form-handler .main-frame .section:first-of-type .step-heading-wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-handler .main-frame .section:first-of-type .step-heading-wrapper .event-status-tag {
  padding: 0 8px;
  background-color: var(--color-white);
  border-radius: 4px;
}

.form-handler .main-frame .section:not(:first-of-type) {
  padding: 24px 56px;
  border-radius: 10px;
  margin: 24px;
  box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
  background-color: var(--color-white);
}

.form-handler .fragment.hidden {
  display: none;
}

.form-handler .form-component {
  padding: 32px 12px;
}

.form-handler .form-component:not(:last-of-type):not(.no-divider) {
  border-bottom: 3px solid var(--stroke-color-divider);
}

.form-handler .event-heading-tooltip-wrapper .event-heading-tooltip-icon {
  height: 16px;
  width: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: help;
}

.form-handler .section:not(:first-of-type) > div.content > h2,
.form-handler .section:not(:first-of-type) > div.content > h3 {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 0;
  padding: 0 12px;
}

.form-handler .form-component > div:first-of-type > div > h2 sp-action-button,
.form-handler .form-component > div:first-of-type > div > h3 sp-action-button,
.form-handler .section:not(:first-of-type) > div.content > h2 sp-action-button,
.form-handler .section:not(:first-of-type) > div.content > h3 sp-action-button {
  padding: 0;
  background: none;
  border: none;
  cursor: help
}

.form-handler .form-component > div:first-of-type > div > h2 sp-action-button .icon-info,
.form-handler .form-component > div:first-of-type > div > h3 sp-action-button .icon-info,
.form-handler .section:not(:first-of-type) > div.content > h2 sp-action-button .icon-info,
.form-handler .section:not(:first-of-type) > div.content > h3 sp-action-button .icon-info {
  display: block;
}

.form-handler .form-handler-ctas-panel .form-handler-panel-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
}

.form-handler .form-handler-ctas-panel .form-handler-panel-wrapper > div {
  display: flex;
  align-items: center;
}

.form-handler .form-handler-ctas-panel .form-handler-backward-wrapper .back-btn {
  padding: 8px;
  border: 2px solid var(--color-white);
  border-radius: 24px;
  cursor: pointer;
}

.form-handler .form-handler-ctas-panel .form-handler-backward-wrapper .back-btn .icon {
  display: block;
  height: 20px;
  width: 20px;
}

.form-handler .main-frame .section:first-of-type .step-heading-wrapper .event-status-tag .icon {
  margin-right: 4px;
}

.form-handler .form-handler-ctas-panel .form-handler-forward-wrapper > div:first-of-type {
  padding-right: 64px;
  border-right: 1px solid var(--color-black);
  margin-right: 104px;
}

.form-handler .form-handler-ctas-panel .form-handler-forward-wrapper .action-area {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-handler .form-handler-ctas-panel a.disabled,
.form-handler .form-handler-ctas-panel a.preview-not-ready,
.form-handler .form-handler-ctas-panel a.submitting {
  pointer-events: none;
  opacity: 0.5;
}

.form-handler .form-handler-ctas-panel a.next-button {
  background-color: var(--color-gray-800);
  border-color: var(--color-gray-800);
}

.form-handler .form-handler-ctas-panel a.next-button:hover {
  background-color: var(--color-black)
} 

.form-handler .form-handler-ctas-panel a.fill {
  background-color: var(--color-gray-200);
  color: var(--color-black);
  font-weight: 700;
  border-radius: 20px;
  line-height: 20px;
  min-height: 21px;
  padding: 7px 18px 8px;
  border: 2px solid var(--color-white);
}

.form-handler .form-handler-ctas-panel a.fill:hover {
  text-decoration: none;
  filter: invert();
}

.form-handler .form-handler-ctas-panel a.preview-btns svg {
  height: 20px;
  width: 28px;
}

.form-handler .form-handler-ctas-panel .form-handler-panel-wrapper .con-button.outline {
  color: var(--color-white);
  border-color: var(--color-white);
}

.form-handler .form-handler-ctas-panel .form-handler-panel-wrapper .con-button.outline:hover {
  background-color: var(--color-white);
  color: var(--color-red);
}

.form-handler.hidden,
.form-handler .hidden {
  display: none;
}

.form-handler:not(.loading) .loading-screen {
  opacity: 0;
  z-index: -1;
}

.form-handler .toast-parent {
  position: absolute;
  bottom: 100%;
  right: 60px;
}

.form-handler .toast-area {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 16px;
}

@media screen and (min-width: 900px) {
  .form-handler > div.form-body {
    flex-direction: row;
  }

  .form-handler .main-frame {
    max-width: var(--grid-container-width);
  }
}
