

.event-agenda-component .field-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 35px;
}

.event-agenda-component .text-field-row .time-pickers {
  display: flex;
  align-items: center;
  gap: 16px;
  padding-bottom: 13px;
}

.event-agenda-component .text-field-row .time-pickers > p {
  font-size: var(--type-heading-m-size);
  font-weight: 700;
}

.event-agenda-component .text-field-row .time-pickers .time-picker-wrapper {
  flex: 1;
  min-width: 150px;
}


.event-agenda-component .text-field-row .time-pickers .time-picker-wrapper select {
  border-radius: 4px;
  padding: 4px;
  height: 40px;
  width: 100%;
  border: 1px solid var(--color-gray-500);
  font-size: var(--type-body-xs-size);
}

.event-agenda-component .text-field-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.event-agenda-component .text-field-wrapper sp-textfield {
  width: 100%;
  margin-bottom: 0px;
}

.event-agenda-component .text-field-wrapper .attr-text {
  font-size: var(--type-body-xs-size);
  color: var(--color-secondary);
  text-align: right;
}


.event-agenda-component .checkbox-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

.event-agenda-component .checkbox-input {
  margin-right: 8px;
}

.event-agenda-component .checkbox-label {
  font-size: var(--type-body-xs-size);
  font-weight: normal;
}

/* .event-agenda-component .field-container {
  align-items: flex-start;
}
  */
