.event-tags {
  margin: 20px auto;
  overflow: auto;
}

.event-tags .tags-wrapper {
  margin: auto;
  padding: 8px 16px;
  width: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.event-tags .tag {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 4px 12px;
  background: var(--color-gray-200);
  font-size: 14px;
  font-weight: 700;
  border-radius: 50px;
  white-space: nowrap;
}

.event-tags .tag img {
  margin-right: 8px;
  height: 18px;
}

@media (min-width: 900px) {
  .event-tags .tags-wrapper {
    display: flex;
  }
  

}
