.event-metadata-component {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.event-metadata-component .primary-product-picker-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.event-metadata-component .primary-product-picker-wrapper sp-picker {
  width: 100%;
}

