.event-community-link-component {
  .field-container {
    display: flex;
    gap: 100px; 
  }

  .inputs-wrapper {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .text-field-row .text-input {
    flex-grow: 1;
    width: 363px;
  }
  
  .text-field-row sp-checkbox {
    margin-left: 10px; 
  } 
}
