/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

:root {
  --stroke-color-divider: #6E6E6E;
  --color-red: #EB1000;
  --mod-textfield-focus-indicator-width: 0;
  --mod-textfield-icon-size-invalid: 0;
  --mod-textfield-border-color-invalid-default: #000;
  --mod-textfield-border-color-invalid-focus: #000;
  --mod-textfield-border-color-invalid-focus-hover: #000;
  --mod-textfield-border-color-invalid-hover: #000;
  --mod-textfield-border-color-invalid-keyboard-focus: #000;
  --mod-textfield-font-family: 'Adobe Clean', adobe-clean, 'Trebuchet MS', sans-serif;
  --mod-textfield-font-weight: 700;
  --mod-textfield-spacing-block-start: 8px;
  --mod-textfield-spacing-inline-quiet: 12px;
}

main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.preserve-format {
  white-space: pre-wrap;
}

fieldset {
  border: none;
  padding: 0;
}

.section > div.no-access {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-gray-100);
  max-width: none;
  box-sizing: border-box;
  width: 100%;
  text-align: center;
}

.section > div.no-access .no-access-area {
  margin: 64px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section > div.no-access .no-access-area .icon.icon-browser-access-forbidden-lg {
  margin: 40px;
}
