/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}

.preserve-format {
  white-space: pre-wrap;
}

fieldset {
  border: none;
  padding: 0;
}
