/* 
 * Put project specific base styles here.
 *
 * Note: The proect does not load this file.
 *       You will need to load these using scripts.js.
 * 
 *
 */

body.has-page-server {
  transition: opacity 0.2s;
}

body.has-page-server.loading {
  opacity: 0!important;
}

body.has-page-server picture > img[alt^="[["] {
  transition: opacity 0.2s;
  opacity: 0;
}

body.has-page-server picture > img.loaded {
  opacity: 1;
}

main a.con-button.no-event {
  user-select: none;
  pointer-events: none;
  opacity: 0.5;
}
