.marketo-integration-component .fields-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 16px;
  row-gap: 28px;
}

.marketo-integration-component .field-container:nth-child(2) {
  grid-column-start: 1;
}

.marketo-integration-component .field-container sp-picker,
.marketo-integration-component .field-container sp-textfield {
  width: 100%;
}